[Desktop Entry]
Name=quake.x11
Comment=Quake for Linux - x11 version
Comment[pl]=Quake dla Linuxa - wersja x11
Exec=quake.x11
Icon=quake.png
Terminal=0
Type=Application
